# Tọa độ đặt Hard Macro SRAM
# Cú pháp: [Tên_instance] [X_offset] [Y_offset] [Orientation]
# Đặt Macro ở góc dưới cùng bên trái (cách lề 50um) để chừa không gian ở giữa cho CPU
u_ram.u_sram_macro 50 50 N
